/************************************************/
/* footer */

footer {
    width: 100%;
    min-width: 550px;
    background-color: var(--footer-color);
    text-align: center;
    margin-top: calc(auto - 1em);
}
