/************************************************/
/* header */

header {
    background-color: var(--header-color);
    color: black;
}


.title_nav {
    height: 1.5em;
    line-height: 1.5em;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-around;
    font-size: 2.2rem;
}

.header_title {
    text-align: center;
    width: 100%;
    font-size: 3.2rem;
    margin: auto;
}