/************************************************/
/* header */

header {
    background-color: var(--header-color);
    color: black;
}

.title_nav {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-around;
}

.header_title {
    text-align: center;
    width: 100%;
    font-size: 3.2rem;
    margin: auto;
}