.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************************************************/
/* common css part */

:root {
  --header-color: #FFCC66; /* header equal footer */
  --footer-color: #FFCC66;
  --nav-bg-color: #FFE5B1;
  --link-color: #336699;
  --link-bover-color: #6195CA;
  --global-bg-color: white;
  --main-font-color: white;
  --button-bg-color: #EA9B00;
  --button-shadow-color: #D38B00;
  --button-bg-hover-color: #FFB522;
  --button-boreder-color: #FFE5B1;
  --hr-color: #FFE5B1;
  --form-bg-color: #FFE5B1;
  --main-font: "メイリオ", "Meiryo", "MS Pゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin : 0px;
  padding : 0px;
}

html, body {
  width:100%;
  height:100%; /*for Old*/
  height:100vh;
}

html {
  font-size : 62.5%;
}

body {
  background-color: var(--global-bg-color);
  text-align : center;
  font-size : 1.6rem;
  text-size-adjust : 100%;
  -webkit-text-size-adjust: 100%; /* Safari */
  line-height: 1.8em;
  font-family: var(--main-font);
}

button {
  font-family: var(--main-font);
}

img {
  border : 0px none;
}

table {
  border-collapse : collapse;
  width : 100%;
  margin-top : 15px;
}

a {
  color: var(--link-color);
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration : underline;
}

p {
  margin-bottom : 1em;
}

ul {
  list-style : none;
}

i {
  padding: 5px;
}

/************************************************/
/* h */

h1 {
  text-align: center;
  width: 100%;
  font-size: 3.2rem;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 0;
}

h2 {
  text-align: left;
  width: 100%;
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  line-height: 1.3em;
  padding: 0.5em;
  padding-left: 0em;
  position: relative;
}

h2.title {
  text-align: center;
}

h3 {
  text-align: left;
  width: 100%;
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  padding: 0.5em;
  padding-left: 0em;
}

h4 {
  text-align: left;
  width : 100%;
  font-size : 2rem;
  margin-bottom : 0.5em;
  padding: 0.5em;
  padding-left: 0em;
}

h4.connection {
  text-align: center;
}

h5 {
  text-align: left;
  width : 100%;
  font-size : 1.6rem;
  margin-bottom : 0.5em;
  padding: 0.5em;
  padding-left: 0em;
}

/************************************************/
/* error */

.error {
  font-weight: bold;
  color: red;
  line-height: 1em;
  text-align: center;
  opacity: 1; /* 初期状態は不透明 */
  animation: fadeOut 5s forwards; /* 5秒かけてフェードアウト */
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* 開始時は不透明 */
    }
    100% {
        opacity: 0; /* 最後は透明 */
    }
}

/************************************************/
/* flash */

.flash {
  font-weight: bold;
  color: orange;
  line-height: 1em;
  text-align: center;
  opacity: 1; /* 初期状態は不透明 */
  animation: fadeOut 5s forwards; /* 5秒かけてフェードアウト */
}

/************************************************/
/* app_container */

.app_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ビューポートの高さいっぱいにする */
}

/************************************************/
/* main_wrapper */

.main_wrapper {
  width: 90%;
  margin: 15px 5%;
  flex: 1;
}

/************************************************/
/* input_area */

.input_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.input_area input {
  height: 30px;
}

.input_area .task_title {
  width: 50%;
}

.input_area .limit {
  min-width: 50px;
  font-size: 1.8rem;
  font-weight: bold;
}

.input_area button.add {
  min-width: 100px;
  height: 30px;
  transform: translateY(-2.5px);
  background-color: var(--button-bg-color);
  color: white;
  border: var(--button-boreder-color) 1px solid;
  border-bottom: 5px var(--button-shadow-color) solid;
  border-radius: 15px;
  transition: transform 0.1s ease, border-bottom 0.1s ease, background-color 0.2s ease;
}

.input_area button.add:hover {
  cursor: pointer;
  transform: translateY(0.5px);  /* ボタンが押されるような効果 */
  background-color: var(--button-bg-hover-color);
  border-bottom: 2px var(--button-shadow-color) solid; /* 押したときに影を浅くする */
}

.input_area button:disabled {
  transform: none;
  background-color: gray;
  color: black;
  border: none;
  cursor: not-allowed;
}

.input_area button:disabled:hover {
  transform: none;  /* 無効状態では押すエフェクトを無効化 */
  background-color: gray;
  border-bottom: none;
}

.MuiTextField-root.MuiFormControl-root .MuiOutlinedInput-root {
  background-color: white;
  font-size: 1.6rem;
  width: 300px;
  height: 30px;
}

.MuiTextField-root.MuiFormControl-root label {
  font-size: 1.4rem;
}

/************************************************/
/* table */

.tasklist {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.tasklist caption {
  font-size: 2.4rem;
  font-weight: bold;
  margin: auto;
}

.tasklist th {
  font-weight: bold;
  text-align: center;
}

.tasklist th,
.tasklist td {
  height: 35px;
}

.tasklist .id {
  width: 15px;
}

.tasklist tbody .title {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.tasklist .date {
  width: 200px;
}

.tasklist .complete {
  width: 100px;
}

.tasklist .button {
  padding: 0 15px;
  width: 130px;
}

.tasklist button {
  width: 100px;
  height: 30px;
  transform: translateY(-2.5px);
  background-color: var(--button-bg-color);
  color: white;
  border: var(--button-boreder-color) 1px solid;
  border-bottom: 5px var(--button-shadow-color) solid;
  border-radius: 15px;
  transition: transform 0.1s ease, border-bottom 0.1s ease, background-color 0.2s ease;
}

.tasklist button:hover {
  cursor: pointer;
  transform: translateY(0.5px);  /* ボタンが押されるような効果 */
  background-color: var(--button-bg-hover-color);
  border-bottom: 2px var(--button-shadow-color) solid; /* 押したときに影を浅くする */
}

.tasklist tbody .id,
.tasklist tbody .title,
.tasklist tbody .date,
.tasklist tbody .complete {
  border-bottom: 1px solid #ccc;
}

.tasklist.checkbox-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* アイコンとテキストの間にスペースを追加 */
}

/************************************************/
/* task decoration */

.redline {
  color: gray;
  text-decoration: line-through;
  text-decoration-color: red;
}

/************************************************/
/* register */

.register_form {
  display: flex;
  max-width: 800px;
  margin: 30px auto;
  padding : 30px;
  flex-wrap: wrap;
  background-color: var(--form-bg-color);
  border-radius: 50px;
}

.register_form input {
  width: 80%;
  height: 30px;
  margin: 15px 10%;
}


.register_form label {
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin: 15px auto;
}

.register_form input::placeholder {
  text-align: center;
  font-size: 1.6rem;
}

.register_form button {
  width: 150px;
  height: 50px;
  margin: 15px auto;
  font-size: 2.4rem;
  font-weight: bold;
  transform: translateY(-2.5px);
  background-color: var(--button-bg-color);
  color: white;
  border: var(--button-boreder-color) 1px solid;
  border-bottom: 5px var(--button-shadow-color) solid;
  border-radius: 15px;
  transition: transform 0.1s ease, border-bottom 0.1s ease, background-color 0.2s ease;
}

.register_form button:hover {
  cursor: pointer;
  transform: translateY(0.5px);  /* ボタンが押されるような効果 */
  background-color: var(--button-bg-hover-color);
  border-bottom: 2px var(--button-shadow-color) solid; /* 押したときに影を浅くする */
}

/************************************************/
/* login */

.login_form {
  display: flex;
  max-width: 800px;
  margin: 30px auto;
  padding : 30px;
  flex-wrap: wrap;
  background-color: var(--form-bg-color);
  border-radius: 50px;
}

.login_form input {
  width: 80%;
  height: 30px;
  margin: 15px 10%;
}

.login_form label {
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin: 15px auto;
}

.login_form input::placeholder {
  text-align: center;
  font-size: 1.6rem;
}

.login_form button {
  width: 150px;
  height: 50px;
  margin: 15px auto;
  font-size: 2.4rem;
  font-weight: bold;
  transform: translateY(-2.5px);
  background-color: var(--button-bg-color);
  color: white;
  border: var(--button-boreder-color) 1px solid;
  border-bottom: 5px var(--button-shadow-color) solid;
  border-radius: 15px;
  transition: transform 0.1s ease, border-bottom 0.1s ease, background-color 0.2s ease;
}

.login_form button:hover {
  cursor: pointer;
  transform: translateY(0.5px);  /* ボタンが押されるような効果 */
  background-color: var(--button-bg-hover-color);
  border-bottom: 2px var(--button-shadow-color) solid; /* 押したときに影を浅くする */
}

/************************************************/
/* common button */

button.link_button {
  min-width: 250px;
  height: 50px;
  margin: 15px auto;
  font-size: 2.4rem;
  font-weight: bold;
  transform: translateY(-2.5px);
  background-color: var(--button-bg-color);
  color: white;
  border: var(--button-boreder-color) 1px solid;
  border-bottom: 5px var(--button-shadow-color) solid;
  border-radius: 15px;
  transition: transform 0.1s ease, border-bottom 0.1s ease, background-color 0.2s ease;
}

button.link_button:hover {
  cursor: pointer;
  transform: translateY(0.5px);  /* ボタンが押されるような効果 */
  background-color: var(--button-bg-hover-color);
  border-bottom: 2px var(--button-shadow-color) solid; /* 押したときに影を浅くする */
}

/************************************************/
/* common */

.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

hr {
  border : none;
  border-bottom : var(--hr-color) dotted 10px;
  margin : 15px auto 30px auto;
}