@media (max-width: 1024px) {

    .mobile_display_none {
        display: none;
    }

    .mobile_only_display {
        display: block;
    }

    .input_area {
        flex-wrap: wrap;
    }

    .input_area .task_title {
        max-width: 100%;
        width: calc(100% - 2px);
        margin: 10px 0;
    }

    .mobile_area_left {
        max-width: 100%;
        min-width: 400px;
        width: calc(100%-2px);
        margin: 10px 0;
    }

    .mobile_area {
        max-width: 100%;
        display: flex;
        width: calc(100% - 2px);
        margin : 10px 0;
        justify-content: space-between;
    }

    .mobile_area_right {
        max-width: 100%;
        display: flex;
        width: calc(100% - 2px);
        margin : 10px 0px;
        justify-content: space-between;
    }

    .tasklist {
        display: block;
        width: 100%;
    }

    .tasklist caption {
        width: 100%;
        display: table-caption;
        text-align: center;
        caption-side: top;
        white-space: nowrap;
    }

    .tasklist tbody .title {
        text-align: left;
    }

    .tasklist thead {
        display: none; /* ヘッダーを非表示にする */
    }

    .tasklist tbody {
        display: block;
    }

    .tasklist tr {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2列レイアウトにする */
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 8px;
    }

    .tasklist td {
        display: block;
        text-align: left;
        width: 100%;
    }

    /* 各行のデータのラベルを擬似要素で表示 */
    .tasklist td::before {
        content: attr(data-label) " : ";
        font-weight: bold;
        display: inline-block;
        width: 5.5em;
    }

    td.mobile_only_display::before {
        content: "";
        font-weight: normal;
        display: none;
    }

    .tasklist tbody .id,
    .tasklist tbody .title,
    .tasklist tbody .date,
    .tasklist tbody .complete,
    .tasklist tbody .button {
        border-bottom: none;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: clamp(1.3rem, 2vw, 1.6rem);
    }
}