@media (max-width: 1025px) {

    .mobile_display_none {
        display: none;
    }

    .mobile_only_display {
        display: block;
    }

    .input_area {
        flex-wrap: wrap;
    }

    .input_area .task_title {
        max-width: 100%;
<<<<<<< HEAD
        width: calc(100% - 2px);
        margin: 10px 0;
    }

    .mobile_area_left {
        max-width: 100%;
        min-width: 400px;
=======
        width: 100%;
        margin: 10px 0;
    }

    .mobile_area {
        max-width: 100%;
>>>>>>> 7e23e474811df4f7c57ccc6125c260ac27069601
        display: flex;
        width: calc(100% - 2px);
        margin : 10px 0;
        justify-content: space-between;
    }

<<<<<<< HEAD
    .mobile_area_right {
        max-width: 100%;
        display: flex;
        width: calc(100% - 2px);
        margin : 10px 0px;
        justify-content: space-between;
=======
    .input_area .limit {
        margin-left: 0px;
    }

    .input_area button.add {
        margin-right: 0px;
>>>>>>> 7e23e474811df4f7c57ccc6125c260ac27069601
    }
}